@charset "utf-8";

/* reset */
html,
body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100%;
    height: 100%;
}

#bg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
}

#icon_wrap {
    position: fixed;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}
#icon_wrap li a {
    display: block;
    width: 15px;
    height: 15px;
    background-color: cadetblue;
    margin: 10px;
    border-radius: 10px;
}







